

.text-4xl {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
    color: rgb(98, 5, 248);
    flex: auto;
}
.text-4xl {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
}
.flex {
    display:flex ;
    padding-right: 0%;
    margin-left: auto;
}
.text-xl {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    color: blue;
}
.text-blue-950 {
    --tw-text-opacity: 1;
    color: rgb(23 37 84 / var(--tw-text-opacity)) /* #172554 */;
}
